@import "../styles.scss";

.app {
    height: 100%;
    width: 100%;
    .container {
        display: block;
        margin: 3rem;
    }
    .mat-toolbar-row, .mat-toolbar-single-row {
        justify-content: space-around ;
    }
    .center {
        button {
            margin: 1rem;
        }
    }
}
