<div class="app">
  <mat-toolbar color="primary">
    <div>{{ title }}</div>
    <div class="center">
      <a routerLink="browse/games">
        <button mat-flat-button color="primary">EXPLORE GAMES</button>
      </a>
      <a routerLink="manager">
        <button mat-flat-button color="primary" *ngIf='auth.isAuthenticated$ | async'>TOURNAMENT MANAGER</button>
      </a>
      <a routerLink="matches">
        <button mat-flat-button color="primary" *ngIf='auth.isAuthenticated$ | async'>MY MATCHES</button>
      </a>
      <a routerLink="teams">
        <button mat-flat-button color="primary" *ngIf='auth.isAuthenticated$ | async'>MY TEAMS</button>
      </a>
    </div>
  
    <div>
      <app-auth-button></app-auth-button>
    </div>
  </mat-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

