<div class="app">
  <header>
    <mat-toolbar ngClass="toolbar-transparent">
      <h3>{{ title }}</h3>
      <div class="center">
        <a routerLink="browse/games">
          <button mat-button ngClass="toolbar-button">EXPLORE GAMES</button>
        </a>
        <a routerLink="manager">
          <button mat-button *ngIf='auth.isAuthenticated$ | async' ngClass="toolbar-button">TOURNAMENT MANAGER</button>
        </a>
        <a routerLink="matches">
          <button mat-button *ngIf='auth.isAuthenticated$ | async' ngClass="toolbar-button">MY MATCHES</button>
        </a>
        <a routerLink="teams">
          <button mat-button *ngIf='auth.isAuthenticated$ | async' ngClass="toolbar-button">MY TEAMS</button>
        </a>
        <a routerLink="player-statistics">
          <button mat-button *ngIf='auth.isAuthenticated$ | async' ngClass="toolbar-button">RECORDS</button>
        </a>
      </div>
    
      <div>
        <app-auth-button></app-auth-button>
      </div>
    </mat-toolbar>
  </header>
  <main>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </main>
  <app-footer></app-footer>
</div>

