@import '~@angular/material/theming';
@import './sass/abstract/mixins';
@import './sass/abstract/variables';

@include mat-core();

$playprism-custom-theme-primary: mat-palette($mat-blue, 500);
$playprism-custom-theme-accent: mat-palette($mat-green, A200, A300, A400);
$playprism-custom-theme-warn: mat-palette($mat-red, A200, A300, A400);

$playprism-custom-theme: mat-dark-theme(
    $playprism-custom-theme-primary, 
    $playprism-custom-theme-accent, 
    $playprism-custom-theme-warn
);

@include angular-material-theme($playprism-custom-theme);

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background: linear-gradient(180deg, $primary-container-color 0%, $primary-container-color 30%, $secondary-background-color 100%);
  color: mat-color($playprism-custom-theme-primary);
  background-repeat: no-repeat;
  background-attachment: fixed;
}