<!-- based on type -->
<ng-container *ngIf="tournament">
    <div class="tournament-title">
        <h1>{{ tournament.name }}</h1>
        <h4>organized by {{ tournament.ownerName }}</h4>
        <app-join-button 
            *ngIf="(authService.isAuthenticated$ | async) && canJoin" 
            [areTeams]="tournament.areTeams"
            [tournamentStatus]="tournamentStatus" 
            [canJoin]="canJoin" 
            (clicked)="join()">
        </app-join-button>
    </div>
    <div class="tournament-container">
        <mat-tab-group mat-align-tabs="start" [color]="'primary'">
            <mat-tab label="INFORMATIONS">
                <div class="informations">
                    <div class="informations-left">
                        <div class="description">
                            <h3>Description</h3>
                            <p>{{ tournament.description }}</p>
                        </div>
                        <div class="rules">
                            <h3>Rules</h3>
                            <p>{{ tournament.rules }}</p>
                        </div>
                        <div class="prizes">
                            <h3>Prizes</h3>
                            <p>{{ tournament.prizes }}</p>
                        </div>
                    </div>

                    <div class="informations-right">
                        <div class="panel">
                            <div class="dates">
                                <ng-container *ngIf="tournamentStatus == tournamentStatusEnum.Incoming || tournamentStatus == tournamentStatusEnum.Ongoing">
                                    <h3>Check in date</h3>
                                    <p>{{ tournament.checkInDate | date:'short' }}</p>
                                </ng-container>
                                <h3>Start date</h3>
                                <p>{{ tournament.startDate | date:'short' }}</p>
                                <ng-container *ngIf="tournamentStatus == tournamentStatusEnum.Ended || tournamentStatus == tournamentStatusEnum.Aborted">
                                    <h3>End date</h3>
                                    <p>{{ tournament.endDate | date:'short' }}</p>
                                </ng-container>
                            </div>
                            <div class="participants">
                                <p class="numbers">{{ tournament.currentNumberOfPlayers }}/{{
                                    tournament.maxNumberOfPlayers }}</p>
                                <p>participants</p>
                            </div>
                        </div>
                        <div class="type">
                            <h3>Type</h3>
                            <p>{{ tournamentFormatString }}</p>
                        </div>
                        <div class="platform">
                            <h3>Platform</h3>
                            <p>{{ tournament.platform }}</p>
                        </div>
                        <div class="contact">
                            <h3>Contact</h3>
                            <p>Email: {{ tournament.contactEmail }}</p>
                            <p>Number: {{ tournament.contactNumber }}</p>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="BRACKET">
                <app-bracket [bracket]="bracket"></app-bracket>
            </mat-tab>
            <mat-tab label="MEDIA">
                <iframe src="https://player.twitch.tv/?channel=shroud&parent=playprism.com" frameborder="0"
                    scrolling="no" height="378" width="620">
                </iframe>
            </mat-tab>
        </mat-tab-group>
    </div>
</ng-container>