@import '../../styles.scss';

.tournaments-container {
    @include main-container;
    .create-button {
        float: right;
        margin: 0 1rem 1rem 0;
    }
    table {
        width: 100%;
    }
}