@import '../../../../styles.scss';

.image-container {
    height: 100%;
    width: 100%;
    img {
        max-height: 40%;
    }
}
.tournaments-container {
    background-color: $primary-container-color;
    margin: 3rem;
    padding: 1rem 0 2rem 0;
    height: 100%;
    .tournaments-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .tournament-card {
            margin: 1rem;
            min-width: 20%;
            min-height: 20%;
            text-align: center;
            background-color: #000;
            color: $primary-font-color;
            border-radius: 0;
            border: 2px $primary-font-color solid;
            .incoming {
                color: orange;
            }
            .ongoing {
                color: green
            }
            .aborted
            .ended {
                color: red;
            }
            .blocked {
                color: gray
            }
            .tournament-card-footer {
                background-color: $primary-font-color;
                color: $secondary-font-color;
                border: 0;
                cursor: pointer;
            }
        }
    }
    .empty-discipline {
        text-align: center;
    }
}