@import '../../../../styles.scss';

.title-container {
    width: 100%;
    text-align: center;
    img {
        max-height: 40%;
    }
}
.tournaments-container {
    @include main-container;
    .filters {
        .search-field {
            margin: 1rem;
            color: mat-color($playprism-custom-theme-primary);
        }
    }
    .tournaments-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .tournament-card {
            margin: 1rem;
            min-width: 20%;
            min-height: 20%;
            text-align: center;
            background-color: #000;
            color: mat-color($playprism-custom-theme-primary);
            border: 2px mat-color($playprism-custom-theme-primary) solid;
            border-radius: 0;
            .incoming {
                color: orange;
            }
            .ongoing {
                color: green
            }
            .aborted, .ended {
                color: red;
            }
            .blocked {
                color: gray
            }
            .tournament-card-footer {
                background-color: mat-color($playprism-custom-theme-primary);
                color: $primary-font-color-white;
                border: 0;
                cursor: pointer;
            }
        }
    }
    .empty-discipline {
        text-align: center;
    }
}