 <div class="teams-container">
    <button 
        class="create-button" 
        id="basic" 
        type="button" 
        mat-flat-button
        color="primary"
        (click)="openDialog()">
            Create
    </button>
    <div class="assignments" *ngIf="assignments.length > 0; else noTeams">
        <mat-list role="list">
            <mat-list-item *ngFor="let assignment of assignments" class="assignment">
                <div class="invitation">
                    <span class="team-name">{{ assignment.team.name}} {{ assignment.active ? "(Current team)" : "" }}</span>
                    <mat-form-field ngClass="whiteInput" class="search-field">
                        <mat-label>Username</mat-label>
                        <input [(ngModel)]="usernameToInvite" type="text" matInput />
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                    <button
                        id="basic" 
                        type="button" 
                        mat-flat-button 
                        color="primary" 
                        (click)="invite(assignment.team.id)" 
                        [disabled]="usernameToInvite == ''">
                            Invite
                    </button>
                    <button 
                        id="basic" 
                        type="button" 
                        mat-flat-button 
                        color="primary" 
                        (click)="join(assignment.team.id)" 
                        [disabled]="assignment.active">
                            Join
                    </button>
                    <button 
                        id="basic" 
                        type="button" 
                        mat-flat-button 
                        color="warn" 
                        (click)="refuse(assignment.team.id)" 
                        [disabled]="assignment.active">
                            Refuse
                    </button>
                    <button 
                        id="basic" 
                        type="button" 
                        mat-flat-button 
                        color="warn" 
                        (click)="leave(assignment.team.id)" 
                        [disabled]="!assignment.active">
                            Leave
                    </button>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
    <ng-template #noTeams>
        <div class="no-teams">
            You have no teams or pending invitations
        </div>
    </ng-template>
</div>