@import '../../styles.scss';

.teams-container {
    background-color: $primary-container-color;
    margin: 3rem;
    height: 100%;
    // input {
    //     background-color: white;
    // }
    button {
        background-color: white;
    }
}

.whiteInput {
    background-color: white;
}
