<form [formGroup]="teamFormGroup" (ngSubmit)="submit()">
    <mat-form-field>
        <mat-label>Team name</mat-label>
        <input matInput placeholder="My Great Team" formControlName="teamName" required>
    </mat-form-field>
    <div>
      <mat-form-field class="text-area-input" appearance="fill">
          <mat-label>Description</mat-label>
          <textarea 
              matInput 
              placeholder="Describe your team" 
              formControlName="description"></textarea>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="text-area-input" appearance="fill">
          <mat-label>Contact</mat-label>
          <textarea 
              matInput 
              placeholder="How to contact you" 
              formControlName="contact"></textarea>
      </mat-form-field>
    </div>
    <div>
      <button 
        type="submit" 
        mat-flat-button 
        color="primary" 
        [disabled]="!teamFormGroup.valid">
          Submit
      </button>
      <button type="button"
        class="delete-button"
        mat-flat-button 
        color="warn"
        (click)="deleteTeam()"
        *ngIf="deleteButtonVisible">Delete</button>
    </div>
  </form>