@import '../../../styles.scss';

.browse-games {
    @include main-container;
    .search-field {
        margin: 1rem;
        color:mat-color($playprism-custom-theme-primary);
    }
    .discipline-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .discipline-card {
            margin: 1rem;
            max-width: 20%;
            min-height: 20%;
            text-align: center;
            background-color: #000;
            color: mat-color($playprism-custom-theme-primary);
            border-radius: 0;
            transition: 0.5s;
            :hover {
                cursor: pointer;
            }
          }
    }
}