<div class="browse-games">
    <mat-form-field class="search-field">
        <mat-label>Game</mat-label>
        <input type="tel" matInput placeholder="Search for a game">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <div class="discipline-list">
        <mat-card 
            *ngFor="let discipline of disciplines" 
            class="discipline-card" 
            [routerLink]="['.', discipline.id, 'tournaments']"
            [state]="{ disciplineName: discipline.name }">
                <img mat-card-image src="../../../assets/game_photo.jpg" alt="photo">
                <mat-card-footer>{{ discipline.name }}</mat-card-footer>
        </mat-card>
    </div>
</div>