<div class="bracket-container" *ngIf="bracket">
  <div class="tournament-bracket tournament-bracket--rounded">

    <div class="tournament-bracket__round tournament-bracket__round--quarterfinals" *ngFor="let round of bracket.rounds">
      <h3 class="tournament-bracket__round-title">{{ round.matches.length == 1 ? 'Final' : '1/' + round.matches.length}}</h3>
      <ul class="tournament-bracket__list">

        <li class="tournament-bracket__item" *ngFor="let match of round.matches">
          <div class="tournament-bracket__match" tabindex="0">
            <div [ngClass]="{'winner': match.result == 1, 'participant': true}">
              {{ match.participant1 ? match.participant1 : 'TBD'  }} 
              <span class="score">{{ match.participant1Score != null ? match.participant1Score : '-'  }}</span>
            </div>
            <div [ngClass]="{'winner': match.result == 2, 'participant': true}">
              <span>{{ match.participant2 ? match.participant2 : 'TBD' }}</span>
              <span class="score">{{ match.participant2Score != null ? match.participant2Score : '-' }}</span>
            </div>
          </div>
        </li>

      </ul>
    </div>

  </div>
</div>